body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

li {
    text-align: center;
    padding: 5px 5px 5px 5px;
}

video {
  padding: 6px;
  padding-right: 6px;
  padding-left: 6px;
}

.localStream {
  display: inline-block;
  top: 15px;
  right: 15px;
  float: right;
}

.localStream video {
    height: 240px;
    width: 420px;
}

.remoteStreams{
  display: inline-block;
  padding: 6px;
  padding-right: 6px;
  padding-left: 6px;
}

.remoteStreams td:hover {
  cursor: pointer;
  background-color: #aaa;
}

.remoteStreams .selected {
  background-color: #444 !important;
}

@media only screen and (max-width: 960px) {

	#remoteVideosContainer {
    width: 100%;
    height: 100%;
  }

}
@media only screen and (max-width: 768px) {

  #remoteVideosContainer {
    width: 240px;
    height: 420px;
  }
  
}
